<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Basketball Team</title>
  </head>
  <body>
    <%= "Team Name: #{@values[0]}"
      "Coach: #{@values[1]}"
      "Point Guard: #{@values[2]}"
      "Shooting Guard: #{@values[3]}"
      "Small Forward: #{@values[4]}"
      "Power Forward: #{@values[5]}"
      "Center: #{@values[6]}"
    %>
  </body>
</html>
