<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Basketball Team</title>
  </head>
  <body>
    <form method="POST" action="/team">
      <input type="text" name="Team Name">




      <input type="submit" id="submit_button">
    </form
  </body>
</html>
